@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{

    --bg-gray: #717171;
    --color-primey: #4D41C0;
    --color-white: #FFFFFF;
    --text-grey: #4A4A4A;
    --text-light-gray: #AAAAAA;
    --star-yellow: #FFBB3A;


}

*{

    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif ;

}

.dsmovie-contact-container{
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img{
     
    margin-right: 10px;

}

.dsmovie-cards{

    width: 100%;

}


#dsmocie-card-list{

    padding: 43px 0;
}

.dsmovie-cards img{
    width: 100%;
    border-radius: 9px 9px 0 0 ;

}

.dsmovie-card-descripton{
    background-color: var(--color-white);
    border-radius: 0 0 9px 9px;
    padding: 10px 22px 20px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 220px;
    justify-content: space-between;
}

.dsmovie-card-descripton h3{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 23px;
    text-align: center;

}

.dsmovie-card-descripton-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-descripton-bottom h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-descripton-bottom p{

    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-btn, .dsmovie-btn:hover{

    background-color: var(--color-primey);
    color: var(--color-white);
    width: 180px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0%;
}

.dsmovie-form-container{

    padding: 50px 0;
    max-width: 480px;
}

.dsmovie-forms-descripton{
    background-color: var(--color-white);
    border-radius: 0 0 9px 9px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-form{

        width: 100%;
}

.dsmovie-card-descripton-bottom img{
    width: 20px;
}

.dsmovie-form-btn-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;

}

.dsmovie-form-grup{
    margin-bottom: 20px;
}

.dsmovie-form-grup label{

    color: var(--text-light-gray);
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-forms-descripton h3{

    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 h2 h3 h4 h5{

    margin: 0;

}

html, body{

    background-color: var(--bg-gray);

}

header{

    background-color: var(--color-primey);
    color: var(--color-white);
    height: 60px;
    display: flex;
    align-items: center;

}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{

    font-size: 24px;
    font-weight: 700;

}

nav a{

    font-size: 12px;
    font-weight: 400;

}

a, a:hover{

    text-decoration: none;
    color: unset;
}